.bid {
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

.favoured {
  background-color: #fff8ed;
}

.top {
  color: black;
  padding: 0.1rem 0;
}

.middle {
  color: grey;
  padding: 0.05rem 0;
}

.bottom {
  color: grey;
}

.green {
  color: #53ccb3;
}
