.show {
  padding: 1rem;


  .avatar {
    position: relative;
    .car {
      width: 100%;
    }

    .verified {
      position: absolute;
      right: 1rem;
      top: 20rem;
    }

    .numcopy {
      position: absolute;
      left: 1rem;
      top: 20rem;
    }

    .iconscopy {
      position: absolute;
      left: 6rem;
      top: 20rem;
    }

    .miles {
      position: absolute;
      left: 1rem;
      top: 18rem;
    }
  }
}

.details {
  display: flex;
  .left {
    .top {

    }

    .bottom {
      color: #b3b5b7;
    }
  }
  .right {

  }
}
