.item {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: 1px solid #eee;

  &:hover {
    background-color: #f6fffd;
  }

  .top {
    display: flex;
    align-items: center;

    .lane {
      color: #53ccb3;
      text-transform: uppercase;
    }

    .ellp {
      height: 5px;
      width: 5px;
      margin: 0 0.5rem;
    }

    .place {
      color: grey;
    }
  }

  .middle {
    display: flex;
    margin: 0.25rem 0;
  }

  .bottom {

  }
}

.sameline {
  display: flex;
}

.watchlist {
  color: #f6c371;
}
