.lanes {
  background-color: #edeeef;
  padding: 1rem;

  .wrapper {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    .lane {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .car {
        border-radius: 25px;
        padding: 1rem;
      }

      .bid {
        position: absolute;
        top: 80%;
        button { background-color: white; }
      }

      .verified {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 100;
      }

      .numcopy {
        position: absolute;
        z-index: 100;
        top: 60%;
        left: 2rem;
      }

      .iconscopy {
        position: absolute;
        z-index: 100;
        top: 60%;
        right: 2rem;
      }
    }
  }
}
