// TabView

.wrapper {
  display: flex;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 2rem 0;

  :global {
    .ReactTabs__Tab--selected {
      color: #2c8ed9;
      position: relative;

      &::after {
        border-bottom: 2px solid #2c8ed9;
        content: '';
        position: absolute;
        display: inline-block;
        height: 1em;
        width: 100%;
        left: 0;
        margin: 1rem auto;
      }
    }
  }
}

.tab {
  list-style: none;
  margin-right: 2.5rem;
  color: #919497;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;

  // .element {
  //   flex: 0.33;
  // }

  .searchbox {
    flex: 0.25;
  }

  .lanes {
    flex: 0.5;
  }
}
